
body {
    background: aquamarine;
    color: black;
    text-align: center;
}

.container {
    display: block;
    border: 1px solid black;
    margin-left: 200px;
    margin-right: 200px;
}

.item {
    display: contents;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 300px;
}
