{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static "css/base.css" %}">
{% block form %}
    <div class="container">
    <form action="{% url "create_event" %}" method="post">
    {% csrf_token %}
        <span class="item">Date: {{ form.date }} Time: {{ form.time }}</span><br>
        <span class="item">Food: {{ form.eated }} Poo: {{ form.poo }}</span>

        <div class="item">Note: {{ form.note }}</div>
        <div class="item"><input type="submit" value="Submit"></div>
    </form>
    </div>
        <br><br>

    <div>
        <span>Date</span>
        <span>Time</span>
        <span>Amount</span>
        <span>Poo</span>
        <span>Note</span>
    </div><br>
    {% for event in last_ten_events %}

    <p>{{ event.date }} | {{ event.time }} | {{ event.eated }} | {{ event.poo }} | {{ event.note }}</p>

    {% endfor %}
    <a href="{% url "allevents" %}">View all</a><br><br>
    <div>Today, Honzik ate {{ ate_today }}</div>
{% endblock form %}